body{
  background-color: red;
  margin: 0;
}


.jailbird-container {
  display: flex;
  justify-content: center;
}

.jailbird {
  display: flex;
  flex-direction: column;
  width: 12vw;
  height: 30vh;
}

.jailbird-horns {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 25%;
  z-index: -1;
}

.jailbird-left-horn {
  width: 30%;
  box-shadow: -1.5vw 1vh 0 1.5vh #10152e;
  border-radius: 50%;
  transform: translateY(60%);
  rotate: -40deg;
}

.jailbird-right-horn {
  width: 30%;
  box-shadow: 1.5vw 1vh 0 1.5vh #10152e;
  border-radius: 50%;
  transform: translateY(60%);
  rotate: 40deg;
}

.jailbird-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: linear-gradient(#10152e, #2f4f84);
  border-radius: 100%;
}

.jailbird-eyes {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 21%;
}

.jailbird-left-eye {
  width: 13%;
  background-color: white;
  border-radius: 100%;
}

.jailbird-right-eye {
  width: 13%;
  background-color: white;
  border-radius: 100%;
}

.jailbird-beak {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  width: 21%;
  height: 20%;
  transform: translateY(-30%);
}

.jailbird-beak-top-half {
  width: 51%;
  height: 52%;
  background-color: white;
  rotate: 45deg;
  border-bottom-left-radius: 100%;
  border-top-right-radius: 100%;
  border-top-left-radius: 170%;
  border-style: solid;
  border-color: #232e63;
  border-width: 2px;
}

.jailbird-beak-bottom-half {
  width: 25%;
  height: 25%;
  background-color: white;
  transform: translate(-15%, -30%);
  rotate: 45deg;
}

/*
.jailbird-wings {
  display: flex;
  justify-content: space-between;
  width: 215px;
  height: 70px;
  transform: translateY(20%);
}

.jailbird-left-wing {
  display: flex;
  width: 100px;
  background-image: linear-gradient(#1e3258, #2b4476);
  border-radius: 100%;
  border-top-right-radius: 0%;
  border-style: solid;
  border-width: 3px;
  border-color: #162848;
  border-bottom: 12px solid white;
  transform: translate(-70%);
}

.jailbird-right-wing {
  display: flex;
  width: 100px;
  background-image: linear-gradient(#1e3258, #2b4476);
  border-radius: 100%;
  border-top-left-radius: 0%;
  border-style: solid;
  border-width: 3px;
  border-color: #162848;
  border-bottom: 12px solid white;
  transform: translate(90%);
}

*/
